@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body{
	font-family: 'Open Sans', sans-serif !important;
	color: #212121 !important;
}
button{
	font-size: 20px !important;
	font-weight: 700 !important;
  	line-height: 1.1 !important;
	border-radius: 0 !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.container-md{
	overflow: hidden;
}
/*Header*/
.nav-item{
	padding: 0px 30px 0px 0px;
}
.nav-item:last-child{
	padding: 0px;
}
.navbar-light {
  background-color: #fff;
}
.nav-link{
	font-size: 20px;
  	color: #212121 !important;
  	line-height: 1.1;
}
.nav-link:hover{
	color: rgb(33, 33, 33, 0.6) !important;
}
.navbar-brand {
  	font-size: 25px;
	color: #212121 !important;
  	font-weight: 700;
  	line-height: 0.88;
}
/*Prevue*/
.prevue{
	width: 100%;
	height: 100vh;
	background: url("../img/prevue/Prevue.png");
	background-size: cover;
	position: relative;
	color: #fff;
}

.prevue__title{
  font-size: 60px !important;
  margin: 0px 0px 50px 0px;
}
.prevue__subtitle{
  font-size: 22px !important;
}
.prevue__buttons .btn-outline-light{
  	border-width: 3px !important;
  	width: 220px;
 	height: 70px;
	margin: 0px 25px 0px 0px;
}
.prevue__buttons .btn-success{
  	background-color: #00897b !important;
  	width: 220px;
 	height: 70px;
}
a .fa-chevron-down{
	font-size: 25px; 
	color: #fff;
}
.prevue-fa-chevron-down__animation{
	animation-name: bobbing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes bobbing {
	0% {
			transform:translate(0px,0px);
			animation-timing-function:ease-in-out;
	}
	50% {
			transform:translate(0px,10px);
			animation-timing-function:ease-in-out;
	}
	100% {
			transform:translate(0px,0px);
			animation-timing-function: ease-in-out;
	}
}
/*About us*/
.about-us {
	padding: 125px 50px;
}
.title {
	font-size: 30px;
  	font-weight: 700;
  	line-height: 0.733;
	margin: 0px 0px 35px 0px;
}
.subtitle {
  	font-size: 15px;
  	line-height: 1.467;
	
	max-width: 630px;
	margin: 0px auto 122px auto;
}
.about-us__col-img {
	margin: 0px auto 40px auto;
}

.about-us__col-title {
  font-size: 20px;
  line-height: 1.1;
  
  margin: 0px 0px 20px 0px;
}
.about-us__col-text {
  font-size: 15px;
  line-height: 1.467;

  max-width: 250px;
  margin: 0px auto;
}

/*Our services*/
.our-services{
	background-color: #e4fdf9;

	padding: 170px 0px 125px 0px;
}
.our-services__col:hover{
	animation-duration: 1.5s;
	transform: translateY(-10px);

	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
	background-color: #00897b;
	color: #fff;
}
.our-services__col:hover .btn{
	color: #fff;
	border-color: #fff !important;
}
.our-services__col{
	max-width: 370px !important;

	background-color: #fff;
	padding: 50px !important;
}

.col-img:before{
	content: '';
	width: 56px;
	height: 62px;
	display: inline-block;
	background: url('../img/our-services/smartphone.png') center no-repeat;
}
.our-services__col:hover .col-img:before{
	background: url('../img/our-services/smartphone-white.png') center no-repeat;
}

.col-title {
  	font-size: 20px !important;
  	line-height: 1.1 !important;

	margin: 40px 0px 0px 0px;
}
.col-text {
  	font-size: 15px !important;
  	line-height: 1.667 !important;

	margin: 30px 0px 50px 0px;
}
.col-button {
  	border-width: 2px !important;
  	width: 146px;
  	height: 52px;
	text-transform: uppercase;

	font-weight: 400 !important;
}
.col-button:hover{
	background-color: #00897b !important;
}

/*Lates works*/
.lates-works{
	padding: 125px 0px 136px 0px;
}
.lates-works .btn-outline-success{
	color: #212121 !important;
	border-width: 2px;
  	width: auto;
	padding: 0px 25px;
 	height: 55px;
}
.lates-works .btn-outline-success:hover{
	color: #fff !important;
	background-color: #00897b !important;
}
.lates-works .active{
	color: #fff !important;
	background-color: #00897b !important;
}
.lates-works .btn-success,
.blog .btn-success{
	background-color: #00897b !important;
  	width: 220px;
 	height: 70px;
}
.lates-works__butons{
	margin: 0px 0px 120px 0px;
}
.lates-works__buton{
	margin: 128px 0px 0px 0px;
}
.lates-works__item {
	position:relative;  
	max-width: 350px;
	margin: 0 auto;
}
.lates-works__text {
	position:absolute;
	left:0;
	bottom: 0;
	top: 0;
	right:0;
	background:rgba(0,0,0, 0.3);
	opacity: 0;

	color: #fff;
}
.lates-works__item:hover .lates-works__text{
   opacity: 1;
}
.lates-works__item p{
  font-size: 15px;
  line-height: 1.467;
}
.lates-works__item h5{
  font-size: 20px;
  line-height: 1.1;
}

/*pricing plap*/
.pricing-plan{
	background: #e4fdf9;
	padding: 125px 0px;
}
.heading-title{
	margin-bottom: 50px;
}
.pricingTable{
	width: 370px;
	background: #fff;
}
.pricingTable .pricingTable__header{
	background: #3949ab;
	color: #fff;
	height: 200px;
	padding: 40px 0px 70px 0px;
	clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
}
.pricingTable .heading{
	font-size: 30px;

	margin-bottom: 40px;
}

.pricingTable .price-value{
  	font-size: 50px;
  	line-height: 0.44;

	margin-top: 10px;
	position: relative;
	display: inline-block;
}

.pricingTable .currency{
  	font-size: 25px;
  	line-height: 0.88;

	position: absolute;
	top: -10px;
	left: -20px;
}
.pricingTable .month{
  	font-size: 17px;
  	line-height: 1.294;
	

}
.pricingTable .pricing-content{
	list-style: none;
	padding: 0;
	margin-top: 40px;
}
.pricingTable .pricing-content li{
  	font-size: 17px;
  	line-height: 1.294;
 	border-bottom: 1px solid #bfbfbf;
	width: 40%;
	margin: 38px auto;
	padding-bottom: 13px;
}
.pricingTable .pricing-content li:last-child{
	margin-bottom: 0;
}
.pricingTable .pricing-content li:first-child{
	margin-top: 0;
}
.pricing__button{
	margin: 60px 0px;
}
.pricing__button:hover{
	border-color: #00897b !important;
}
.pricingTable:hover{
	animation-duration: 1.5s;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
}
/*Our team*/
.our-team{
	padding: 123px 0px;
}
.carousel-indicators{
	bottom: -120px !important;
}
.carousel-indicators li{
	border-radius: 100% !important;
	background-color: #00897b !important;
	width: 15px !important;
	height: 15px !important;
	opacity: 1 !important;
}
.carousel-indicators .active{
	background-color: #3949ab !important;
}
.team-member .social i{
	color: #00897b !important;
	font-size: 30px;

	height: 50px;
	width: 50px;
	padding: 10px;
	border-radius: 10px;
	background-color: #f0f1f1;
}
.team-member .social i:hover{
	background-color: #3949ab;
	animation-duration: 1s;
	color: #fff !important;
}
.team-member .social{
	margin-top: 20px;
}
.team-member h5{
  	font-size: 20px;
	font-weight: 600;
  	line-height: 1.1;

	margin-top: 30px;
}
.team-member p{
  	font-size: 15px;
  	line-height: 1.467;
}
/*blog*/

.blog{
	background: #e4fdf9;
	padding: 125px 0px;
}

.blog-text h3{
  	font-size: 25px;
  	line-height: 0.88;
	font-weight: 600;
}
.blog-text h3:hover{
  	animation-duration: .3s;
	color: #00897b !important;
}
.blog-text p{
  	font-size: 15px;
  	line-height: 1.467;
}
.blog-text span{
  	font-size: 17px;
  	line-height: 1.294;
	font-weight: 600;
}

/*Contact Us*/
.contact-us{
	padding: 125px 0px 100px 0px;
	color: #fff;
	width: 100%;
	
	background: url("../img/contact-us/bg.png");
	background-size: cover;
	
}
.contact-us i{
	font-size: 44px;
	color: #fff;

	height: 80px;
	width: 80px;
	padding: 15px;
	border-radius: 100%;
	background-color: #3949ab;
	margin-bottom: 36px;
}
.contact-us-col__text{
  	font-size: 20px;
  	line-height: 1.4;
}
.contact-us-col__text a{
  	color: #fff;
	text-decoration: none;
}
.contact-us__form{
	color: #212121;
}
.contact-us__form textarea{
	resize: none;
	height: 320px !important;
}
.form-floating > label{
	padding-left: 25px !important;
  	font-size: 20px;
  	color: #212121cc !important;
	font-weight: 600;
  	line-height: 1.4;

}
.contact-us__form textarea,
.contact-us__form input{
	border-radius: 10px !important;
}
.contact-us__button{
	margin-top: 40px;
	border-radius: 10px !important;
	width: 220px !important;
  	height: 72px !important;
}
.contact-us form{
	margin-top: 82px;
}
/*Footer*/
footer{
	height: 65px;
	padding: 20px 0px 0px 0px;
}
footer p{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
}
@media(max-width: 1200px){
	.pricingTable{
	width: 270px;
	}
}
@media(max-width: 992px){
	.pricing-plan .col-lg-4{
		margin-bottom: 30px;
	}
}
@media(max-width: 656px){
	.lates-works__buton-active{
		margin-bottom: 10px;
	}
	.contact-us .container__button{
		justify-content: center !important;
	}
	.blog-img img{
		width: 400px !important;
	}
}
@media(max-width: 582px){
	.prevue__title{
		margin-top: 20px;
		font-size: 40px !important;
	}
}
@media(max-width: 576px){
	.contact-us .col-md-4:first-child{
		margin-bottom: 10px;
	}
	.pricing-plan .col-7{
		margin: 0 auto;
	}
	.prevue__buttons{
		margin-left: 150px !important;
	}
	.prevue .btn-outline-light{
		margin: 20px 0;
	}
	.blog .row{
		margin-top: 30px;
	}
}
@media(max-width: 536px){
	.prevue__buttons{
		margin: 30px 0px 0px 100px !important;
	}
	.prevue__title{
  		margin-bottom: 20px;
	}
	.about-us .col-sm-5{
		margin-bottom: 50px;
	}
	.our-services__col{
		margin-bottom: 30px;
	}
	.lates-works .col-lg-4{
		margin-bottom: 30px;
	}
}
@media(max-width: 425px){
	.prevue__buttons{
		margin-left: 70px !important;
	}
	.pricing-plan .col-7{
		margin-left: 70px;
	}
	.blog-img img{
		width: 300px !important;
	}
}
@media(max-width: 375px){
	 .our-services__col{
		 width: 240px !important;
	 }
	 .pricing-plan .col-7{
		margin-left: 40px;
	}
}
@media(max-width: 320px){
	.prevue__buttons{
		margin-left: 30px !important;
	}
	 .pricing-plan .col-7{
		margin-left: 10px;
	}
}
