/*===================Import=========================*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/*===================Common=========================*/
body{
	font-family: 'Open Sans', sans-serif !important;
	color: #212121 !important;
	position: relative;
}
button{
	font-size: 20px !important;
	font-weight: 700 !important;
  	line-height: 1.1 !important;
	border-radius: 0 !important;
}
.btn:focus,
.navbar-toggler {
  outline: none !important;
  box-shadow: none !important;
}
#wrapper{
	overflow: hidden;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: #00897b !important;
}
.title {
	font-size: 30px;
  	font-weight: 700;
  	line-height: 0.733;
	margin: 0px 0px 35px 0px;
}
.subtitle {
  	font-size: 15px;
  	line-height: 1.467;	
	max-width: 630px;
	margin: 0px auto 122px auto;
}
/*======================================Preloader================================================*/
#cube-loader {
  	align-items: center;
  	display: flex;
  	height: 100%;
  	width: 100%;
  	position: fixed;
  	z-index: 999;
  	overflow: visible;
  	background: #fff;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
#cube-loader .caption {
	margin: 0 auto;
}
.cube-loader {
	width: 73px;
	height: 73px;
	margin: 0 auto;
	margin-top: 49px;
	position: relative;
	transform: rotateZ(45deg);
}
.cube-loader .cube {
	position: relative;
	transform: rotateZ(45deg);
	width: 50%;
	height: 50%;
	float: left;
	transform: scale(1.1);
}
.cube-loader .cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(52, 73, 94, 1.0);
	animation: cube-loader 2.76s infinite linear both;
	transform-origin: 100% 100%;
}
.cube-loader .loader-2 {
	transform: scale(1.1) rotateZ(90deg);
}
.cube-loader .loader-3 {
transform: scale(1.1) rotateZ(180deg);
}
.cube-loader .loader-4 {
transform: scale(1.1) rotateZ(270deg);
}
.cube-loader .loader-2:before {
animation-delay: 0.35s;
}
.cube-loader .loader-3:before {
animation-delay: 0.69s;
}
.cube-loader .loader-4:before {
animation-delay: 1.04s;
}
@keyframes cube-loader {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
/*======================================Header==================================================*/
#header{
	z-index: 100;
}
.nav-item{
	padding: 0px 30px 0px 0px;
}
.nav-item:last-child{
	padding: 0px;
}
.navbar-light {
  background-color: #fff;
}
.nav-link{
	font-size: 20px;
  	color: #212121 !important;
  	line-height: 1.1;
}
.nav-link:hover{
	color: rgb(33, 33, 33, 0.6) !important;
}
.navbar-brand {
  	font-size: 25px;
	color: #212121 !important;
  	font-weight: 700;
  	line-height: 0.88;
}
/*==============================================Prevue===========================================================*/
.prevue{
	width: 100%;
	min-height: 100vh;
	background: url("../img/prevue/Prevue.png") center fixed;
	background-size: cover;
	position: relative;
	color: #fff;
}
.prevue__title{
  	font-size: 60px !important;
  	margin: 0px 0px 50px 0px;
}
.prevue__subtitle{
  	font-size: 22px !important;
}
.prevue__buttons .btn-outline-light:hover{
	transition: background-color 0.5s ease 0s,color 0.5s ease 0s !important;
}
.prevue__buttons .btn-outline-light{
  	border-width: 3px !important;
  	width: 220px;
 	height: 70px;
	transition: background-color 0.5s ease 0s,color 0.5s ease 0s !important;
}
.prevue__buttons .btn-success{
  	background-color: #00897b !important;
	border: 3px solid #00897b !important;
	transition: background-color 0.5s ease 0s !important;
  	width: 220px;
 	height: 70px;
}
.prevue__buttons .btn-success:hover{
	background-color: transparent !important;
	transition: background-color 0.5s ease 0s !important;
}
.prevue__buttons a{
	font-size: 20px;
	font-weight: 700;
  	line-height: 1.1;
	border-radius: 0;
}
a .fa-chevron-down{
	font-size: 25px; 
	color: #fff;
}
.prevue-fa-chevron-down__animation{
	animation-name: bobbing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes bobbing {
	0% {
			transform:translate(0px,0px);
			animation-timing-function:ease-in-out;
	}
	50% {
			transform:translate(0px,10px);
			animation-timing-function:ease-in-out;
	}
	100% {
			transform:translate(0px,0px);
			animation-timing-function: ease-in-out;
	}
}
/*============================================About Us=======================================================*/
.about-us {
	padding: 125px 50px;
}
.about-us__col-img {
	margin: 0px auto 40px auto;
}
.about-us__col-title {
  font-size: 20px;
  line-height: 1.1;
  margin: 0px 0px 20px 0px;
}
.about-us__col-text {
  font-size: 15px;
  line-height: 1.467;
  max-width: 250px;
  margin: 0px auto;
}
/*=============================================Our services==================================================*/
.our-services{
	background-color: #e4fdf9;
	padding: 170px 0px 125px 0px;
}
.our-services__col{
	width: 100%;
	background-color: #fff;
	padding: 50px !important;
	transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.our-services__col:hover{
	transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
	background-color: #00897b;
	color: #fff;
}
.our-services__col:hover .col-button{
	color: #fff;
	transition: background 0.3s ease, color 0.3s ease,border-color 0.3s ease;
	border-color: #fff !important;
}
.our-services__col-container{
	max-width: 370px !important;
}
.col-img:before{
	content: '';
	width: 56px;
	height: 62px;
	display: inline-block;
	background: url('../img/our-services/smartphone.png') center no-repeat;
	transition: background 0.3s ease;
}
.our-services__col:hover .col-img:before{
	transition: background 0.3s ease;
	background: url('../img/our-services/smartphone-white.png') center no-repeat;
}
.col-title {
  	font-size: 20px !important;
  	line-height: 1.1 !important;
	margin: 40px 0px 0px 0px;
}
.col-text {
  	font-size: 15px !important;
  	line-height: 1.667 !important;
	margin: 30px 0px 50px 0px;
}
.col-button {
  	border-width: 2px !important;
  	width: 146px;
  	height: 52px;
	text-transform: uppercase;
	font-weight: 400 !important;
	transition: background 0.3s ease, color 0.3s ease,border-color 0.3s ease;
}
.col-button:hover{
  	background-color: #00897b !important;
}
/*=========================================Latest works============================================*/
.lates-works{
	padding: 125px 0px 136px 0px;
}
.lates-works .btn-outline-success{
	color: #212121 !important;
	border-width: 2px;
  	width: auto;
	padding: 0px 25px;
 	height: 55px;
	transition: background-color 0.5s ease 0s,color 0.5s ease 0s !important;
}
.lates-works .btn-outline-success:hover{
	color: #fff !important;
	background-color: #00897b !important;
	transition: background-color 0.5s ease 0s,color 0.5s ease 0s !important;
}
.lates-works .active{
	color: #fff !important;
	background-color: #00897b !important;
}
.lates-works__img{
	max-width: 400px;
}
.lates-works__img img{
	width: 100%;
}
.lates-works .btn-success,
.blog .btn-success{
	background-color: #00897b !important;
  	width: 220px;
 	height: 70px;
}
.lates-works__butons{
	margin: 120px 0px;
}
.lates-works__buton{
	border: 3px solid #00897b !important;
	transition: background-color 0.5s ease 0s,color 0.5s ease 0s !important;
}
.lates-works__buton:hover{
	background-color: transparent !important;
	color: #000 !important;
	transition: background-color 0.5s ease 0s,color 0.5s ease 0s !important;
}
.lates-works__item-content{
	position:relative;  
	max-width: 350px;
	margin: 0 auto;
}
.lates-works__text {
	position:absolute;
	left:0;
	bottom: 0;
	top: 0;
	right:0;
	background:rgba(0,0,0, 0.3);
	opacity: 0;
	transition: opacity 0.5s ease 0s;
	color: #fff;
}
.lates-works__item-content:hover .lates-works__text{
   opacity: 1;
	transition: opacity 0.5s ease 0s;
}
.lates-works__item-content p{
  font-size: 15px;
  line-height: 1.467;
}
.lates-works__item-content h5{
  font-size: 20px;
  line-height: 1.1;
}
/*=============================================Pricing plan=================================================*/
.pricing-plan{
	background: #e4fdf9;
	padding: 125px 0px;
}
.heading-title{
	margin-bottom: 50px;
}
.pricingTable{
	max-width: 370px;
	background: #fff;
	transition: box-shadow 0.5s ease 0s !important;
}
.pricingTable .pricingTable__header{
	background: #3949ab;
	color: #fff;
	height: 200px;
	padding: 40px 0px 70px 0px;
	clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
}
.pricingTable .heading{
	font-size: 30px;
	margin-bottom: 40px;
}
.pricingTable .price-value{
  	font-size: 50px;
  	line-height: 0.44;

	margin-top: 10px;
	position: relative;
	display: inline-block;
}
.pricingTable .currency{
  	font-size: 25px;
  	line-height: 0.88;

	position: absolute;
	top: -10px;
	left: -20px;
}
.pricingTable .month{
  	font-size: 17px;
  	line-height: 1.294;
}
.pricingTable .pricing-content{
	list-style: none;
	padding: 0;
	margin-top: 40px;
}
.pricingTable .pricing-content li{
  	font-size: 17px;
  	line-height: 1.294;
 	border-bottom: 1px solid #bfbfbf;
	width: 40%;
	margin: 38px auto;
	padding-bottom: 13px;
}
.pricingTable .pricing-content li:last-child{
	margin-bottom: 0;
}
.pricingTable .pricing-content li:first-child{
	margin-top: 0;
}
.pricing__button{
	margin: 60px 0px;
	transition: border-color 0.5s ease 0s,background-color 0.5s ease 0s, color 0.5s ease 0s !important;
}
.pricing__button:hover{
	transition: border-color 0.5s ease 0s,background-color 0.5s ease 0s, color 0.5s ease 0s !important;
	border-color: #00897b !important;
}
.pricingTable:hover{
	transition: box-shadow 0.5s ease 0s !important;
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
}
/*=========================================Our team=============================================*/
.our-team{
	padding: 123px 0px;
}
.our-team .slick-track{
	display: flex;
}
.our-team .slick-list{
	overflow: hidden;
}
.our-team .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 80px;
	padding: 0px;
}
.our-team .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.our-team .slick-dots li.slick-active button{
	background-color: #3949ab !important;
}
.our-team .slick-dots button{
	font-size: 0 !important;
	border: none !important;
	border-radius: 100% !important;
	background-color: #00897b !important;
	width: 15px !important;
	height: 15px !important;
	opacity: 1 !important;
	outline: none !important;
}
.team-member .social i{
	color: #00897b !important;
	font-size: 30px;

	height: 50px;
	width: 50px;
	padding: 10px;
	border-radius: 10px;
	background-color: #f0f1f1;
	transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
}
.team-member .social i:hover{
	background-color: #3949ab;
	transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
	color: #fff !important;
}
.team-member h5{
  	font-size: 20px;
	font-weight: 600;
  	line-height: 1.1;

	margin-top: 30px;
}
.team-member p{
  	font-size: 15px;
  	line-height: 1.467;
}
/*=============================================Blog====================================================*/
.blog{
	background: #e4fdf9;
	padding: 125px 0px;
}
.blog-img{
	max-width: 570px;
}
.blog-img img{
	width: 100%;
}
.blog-text h3{
  	font-size: 25px;
  	line-height: 0.88;
	font-weight: 600;
}
.blog-text p{
  	font-size: 15px;
  	line-height: 1.467;
}
.blog-text span{
  	font-size: 17px;
  	line-height: 1.294;
	font-weight: 600;
}
/*===========================================Contact Us===============================================*/
.contact-us{
	padding: 125px 0px 100px 0px;
	color: #fff;
	width: 100%;
	
	background: url("../img/contact-us/bg.png");
	background-size: cover;
}
.contact-us i{
	font-size: 44px;
	color: #fff;

	height: 80px;
	width: 80px;
	padding: 15px;
	border-radius: 100%;
	background-color: #3949ab;
	margin-bottom: 36px;
	text-decoration: none !important;
}
.contact-us-link{
	font-size: 20px;
  	line-height: 1.4;
  	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease 0s;
}
.contact-us-link:hover{
	color: #3949ab !important;
	transition: color 0.3s ease 0s;
}
.contact-us__form{
	color: #212121;
	border-radius: 10px !important;
	max-width: 860px;
}
.contact-us__form textarea{
	resize: none;
	height: 320px !important;
}
.form-floating > label{
	padding-left: 25px !important;
  	font-size: 20px;
  	color: #212121cc !important;
	font-weight: 600;
  	line-height: 1.4;
}
.contact-us__form textarea,
.contact-us__form input{
	border-radius: 10px !important;
}
.contact-us__form-item .btn-light{
	border-radius: 10px !important;
	width: 220px !important;
  	height: 72px !important;
	border: 3px solid #fff !important;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}
.contact-us__form-item .btn-light:hover{
	background-color: transparent !important;
	color: #fff !important;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}
.contact-us form{
	margin-top: 82px;
}
/*=======================================Footer=================================================*/
footer{
	height: 65px;
	padding: 20px 0px 0px 0px;
}
footer p{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
}
/*========================================Adaptation================================================*/
@media(max-width: 992px){
/*========Header=======*/
.nav-link{
	padding-left: 10px !important;
}
}
@media(max-width: 768px){
.lates-works__butons{
	margin: 0px 0px 50px;
}
}
@media(max-width: 656px){
/*========Contact US=======*/
.contact-us .container__button{
	justify-content: center !important;
}
}
@media(max-width: 576px){
/*========Prevue=======*/
.prevue__title{
  	font-size: 45px !important;
  	margin: 0px 0px 10px 0px;
}
.prevue__subtitle{
  	font-size: 18px !important;
}
/*========Contact US=======*/
.contact-us .col-md-4:first-child{
	margin-bottom: 10px;
}
/*========Pricing Plan=======*/
.pricing-plan .col-7{
	margin: 0 auto 20px auto;
}
/*========Blog=======*/
.blog .row{
	margin-top: 30px;
}
}
@media(max-width: 400px){
/*========Our Service=======*/
.our-services__col{
	width: 240px !important;
	padding: 20px !important;
	margin: 0 auto;
}
/*========Pricing Plan=======*/
.pricing-plan .col-7{
	margin-left: 40px;
}
/*========Our Team=======*/
.our-team .slick-dots li{
	margin: 0px 5px;
}
.team-member .social i{
	font-size: 22px;
	height: 40px;
	width: 40px;
	padding: 8px;

}
}
/*=====================Disable animation for mobile and tablet========================*/
@media(min-width:786px){
/*===============Common======================*/
.title {
	transform: translate(0px, 100%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.title._active{
	transform: translate(0px, 0px);
	opacity: 1;
}
.subtitle {
	transform: translate(0px, 100%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.subtitle._active{
	transform: translate(0px, 0px);
	transition: all 0.8s ease 0.4s;
	opacity: 1;
}
/*===============Prevue======================*/
.prevue__title{
  	transform: translate(0px, 100%);
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
	opacity: 0;
}
.prevue__title._active{
	transform: translate(0px, 0px);
	opacity: 1;
}
.prevue__subtitle{
 	transform: translate(0px, 100%);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.prevue__subtitle._active{
	transform: translate(0px, 0px);
	transition: transform 0.8s ease 0.4s;
	opacity: 1;
}
.prevue__buttons .prevue__btn:nth-child(1){
	transform: translate(-100%, 0px);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.prevue__buttons .prevue__btn:nth-child(2){
	transform: translate(100%, 0px);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.prevue__buttons .prevue__btn._active{
	transform: translate(0px, 0px);
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s !important;
	opacity: 1;
}
a .fa-chevron-down{
	transform: translate(0px, 50%);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
a .fa-chevron-down._active{
	transform: translate(0px, 0px);
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
	opacity: 1;
}
/*===========About Us=============*/
.about-us__item{
	transform: translate(0px, 100%);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.about-us__item._active:nth-child(1){
	transform: translate(0px, 0px);
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
	opacity: 1;
}
.about-us__item._active:nth-child(2){
	transform: translate(0px, 0px);
	transition: transform 0.8s ease 0.3s,opacity 0.8s ease 0.3s;
	opacity: 1;
}
.about-us__item._active:nth-child(3){
	transform: translate(0px, 0px);
	transition: transform 0.8s ease 0.4s,opacity 0.8s ease 0.4s;
	opacity: 1;
}
/*=========Our services==========*/
.our-services__col-container{
	transition: background-color 0.3s ease 0,box-shadow 0.3s ease 0 !important;
}
.our-services__col-container:nth-child(1),
.our-services__col-container:nth-child(2),
.our-services__col-container:nth-child(3){
	transform: translate(-100%, 0px);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.our-services__col-container:nth-child(4),
.our-services__col-container:nth-child(5),
.our-services__col-container:nth-child(6){
	transform: translate(100%, 0px);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.our-services__col-container._active{
	transform: translate(0px, 0px);
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
	opacity: 1;
}
/*==========Latest works============*/
.lates-works__buton-container{
	transform: translate(0, 100%);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.lates-works__buton-container._active{
	transform: translate(0px, 0px);
	transition: transform 0.8s ease 0.3s,opacity 0.8s ease 0.3s;
	opacity: 1;
}
.lates-works__butons .btn-outline-success-container:nth-child(1),
.lates-works__butons .btn-outline-success-container:nth-child(2){
	transform: translate(-100%, 0px);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.lates-works__butons .btn-outline-success-container:nth-child(4),
.lates-works__butons .btn-outline-success-container:nth-child(3){
	transform: translate(100%, 0px);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.lates-works__butons .btn-outline-success-container._active{
	transform: translate(0px, 0px);
	transition: transform 0.8s ease 0.3s,opacity 0.8s ease 0.3s;
	opacity: 1;
}
.lates-works__item:nth-child(1),
.lates-works__item:nth-child(2),
.lates-works__item:nth-child(3){
	transform: translate(-100%, 0px);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.lates-works__item:nth-child(4),
.lates-works__item:nth-child(5),
.lates-works__item:nth-child(6){
	transform: translate(100%, 0px);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.lates-works__item._active{
	transform: translate(0px, 0px);
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
	opacity: 1;
}
.pricingTable-container{
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.pricingTable-container:nth-child(1){
	transform: translate(-100%, 0px);
}
.pricingTable-container:nth-child(2){
	transform: translate(0px, 20%);
}
.pricingTable-container:nth-child(3){
	transform: translate(100%, 0px);
}
.pricingTable-container._active{
	transform: translate(0px, 0px);
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
	opacity: 1;
}
/*==========Our Team============*/
.our-team .our-team__slider{
	transform: translate(0px, 20%);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.our-team .our-team__slider._active{
	transform: translate(0px, 0px);
	transition: transform 0.8s ease 0.3s,opacity 0.8s ease 0.3s;
	opacity: 1;
}
/*==========Blog============*/
.blog .blog-row:nth-child(1),
.blog .blog-row:nth-child(2){
	transform: translate(100%, 0px);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.blog .blog-row:nth-child(3){
	transform: translate(-100%, 0px);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.blog .blog-row:nth-child(1)._active,
.blog .blog-row:nth-child(2)._active,
.blog .blog-row:nth-child(3)._active{
	transform: translate(0px, 0px);
	transition: transform 0.8s ease 0.3s,opacity 0.8s ease 0.3s;
	opacity: 1;
}
/*==========Contact Us============*/
.contact-us__icon{
	transform: translate(0px, 100%);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.contact-us__icon._active:nth-child(1){
	transform: translate(0px, 0px);
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
	opacity: 1;
}
.contact-us__icon._active:nth-child(2){
	transform: translate(0px, 0px);
	transition: transform 0.8s ease 0.3s,opacity 0.8s ease 0.3s;
	opacity: 1;
}
.contact-us__icon._active:nth-child(3){
	transform: translate(0px, 0px);
	transition: transform 0.8s ease 0.4s,opacity 0.8s ease 0.4s;
	opacity: 1;
}
.contact-us__form-item:nth-child(1){
	transform: translate(-100%, 0px);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.contact-us__form-item:nth-child(2),
.contact-us__form-item:nth-child(3){
	transform: translate(100%, 0px);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.contact-us__form-item:nth-child(4){
	transform: translate(0px, 50%);
	opacity: 0;
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
}
.contact-us__form-item:nth-child(1),
.contact-us__form-item:nth-child(2),
.contact-us__form-item:nth-child(3),
.contact-us__form-item:nth-child(4){
	transform: translate(0px, 0px);
	transition: transform 0.8s ease 0s,opacity 0.8s ease 0s;
	opacity: 1;
}
}
